:root {
  --menu-bar-background: var(--image-panel-background);
  --menu-bar-item-hover: var(--image-panel-button-background);
  --menu-bar-text: white;
  --menu-list-background: var(--image-panel-button-background);
  --menu-list-item-hover: hsl(198, 10%, 32%);
  --menu-border: hsl(195, 9%, 32%);
  --menu-border-radius: 4px;
}

.menu-bar {
  background-color: var(--image-panel-background);
  color: var(--menu-bar-text);
  display: flex;
}

.szh-menu-button {
  background: none;
  border: none;
  border-radius: var(--menu-border-radius);
  color: inherit;
  padding: 4px 10px;
}

.szh-menu-button:hover {
  background-color: var(--menu-bar-item-hover);
}

.szh-menu {
  background-color: var(--menu-list-background);
  border: 1px solid var(--menu-border);
  border-radius: var(--menu-border-radius);
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
  min-width: 120px;
  white-space: nowrap;
  padding: 3px;
  z-index: 1;
}

.szh-menu > li {
  list-style: none;
}

.szh-menu__item {
  border-radius: var(--menu-border-radius);
  display: flex;
  padding: 4px 12px;
}

.szh-menu__item:not(.szh-menu__item--disabled) {
  cursor: pointer;
}

.szh-menu__item--hover {
  background-color: var(--menu-list-item-hover);
}

.szh-menu__item--disabled {
  opacity: 0.5;
}

.menu-indicator {
  flex-grow: 1;
  margin-inline-start: 16px;
  opacity: 0.5;
  text-align: end;
}

.szh-menu__divider {
  border-block-start: 1px solid var(--menu-border);
  margin: 3px -3px;
}

.szh-menu a {
  color: inherit;
  text-decoration: none;
}

.version {
  align-items: center;
  display: flex;
  margin: 0 4px;
  opacity: 0.1;
}
